
:root {
    --main-margin: 25px;
    --main-color: #3d8168;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.container {
    padding: 80px;
    margin: 20px 80px;
    background-color: #f3eae3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
}

.container .card {
    background-color: white;
    width: 500px;
    height: 400px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.container .card .img-container {
    background: url(/images/image-product-desktop.jpg);
    background-size: cover;
    flex-basis: 50%;
}

.container .card .info {
    flex-basis: 50%;
}


@media (max-width: 767px) {
    .container {
        margin: 0;
        padding: 70px 0;
    }
    .container .card {
        width: 350px;
        height: 700px;
        margin: 0;
        flex-direction: column;
    }

    .container .card .img-container {
        background: url(/images/image-product-mobile.jpg);
        background-size: cover;
        flex-basis: 35%;
    }
    .container .card .info  {
        flex-basis: 65%;
    }
}

.container .card .info .perf {
    display: block;
    margin-left: var(--main-margin);
    margin-top: var(--main-margin);
    font-variant: all-small-caps;
    font-size: 20px;
    letter-spacing: 3px;
    color: #777;
}

.container .card .info h2 {
    margin-left: var(--main-margin);
    margin-top: var(--main-margin);
    font-size: 30px;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .container .card .info h2 {
        font-size: 35px;
    }
}

.container .card .info .main-p {
    margin-left: var(--main-margin);
    margin-top: 20px;
    margin-right: 10px;
    font-size: 18px;
    font-variant: all-small-caps;
    color: #777;
}

@media (max-width: 767px) {
    .container .card .info .main-p {
        font-size: 25px;
        margin-top: var(--main-margin);
    }
}

.container .card .info .prices {
    margin-left: var(--main-margin);
    margin-right: 10px;
    display: flex;
    align-items: center;
    height: 50px;
}

.container .card .info .prices .price {
    margin-right: 40px;
    color: var(--main-color);
    font-size: 25px;
    font-weight: 800;
}
.container .card .info .prices .d-price {
    font-size: 12px;
    font-weight: lighter;
    text-decoration: line-through;
    color: #777;
}

@media (max-width: 767px) {
    .container .card .info .prices {
        height: 80px;
    }
    .container .card .info .prices .price{
        font-size: 35px;
    }
    .container .card .info .prices .d-price{
        font-size: 25px;
    }
}

.container .card .info button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 35px;
    border: none;
    border-radius: 7px;
    background-color: var(--main-color);
    transition: 0.3s;
    cursor: pointer;
}

.container .card .info button p {
    color: white;
    font-size: 12px;
    font-variant: all-small-caps;
}
.container .card .info button img {
    margin-right: 15px;
    width: 15px;
}

@media (max-width: 767px) {
    .container .card .info button {
        height: 40px;
    }
    .container .card .info button p {
        font-size: 20px;
    }
    .container .card .info button img {
        width: 20px;
    }
}

.container .card .info button:hover {
    background-color: #1d5540;
}



/* Decoration  */

.container .fa-l {
    position: absolute;
    top: -20px;
    left: 32px;
    font-size: 57px;
    color: #fac7c6;
}

.container .fa-l:nth-of-type(2) {
    position: absolute;
    top: -15px;
    left: unset;
    right: -10px;
    font-size: 70px;
    color: #fac7c6;
    transform: rotate(122deg);
}

.container .grid {
    position: absolute;
    bottom: -48px;
    left: 2px;
}

.container .grid i {
    font-size: 57px;
    color: #67c0d2;
}

.circle {
    position: absolute;
    right: 17px;
    bottom: -202px;
    width: 200px;
    height: 200px;
    border: 5px solid #67c0d259;
    border-radius: 50%;
}

@media (max-width: 767px) {
    .container .fa-l,
    .container .grid,
    .circle {
        display: none;
    }


}